<!DOCTYPE html>
<html>
<head>
    <title>home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: black;
            
            font-family: Times New Roman;
            background-image: url('https://wallpapers.com/images/hd/food-4k-3gsi5u6kjma5zkj0.jpg')
            
            }

        h1 {
            font-size: 40px;
            color: red;
            font-family: ROG Fonts;
        }

        div {
            height: 400px;
            width: 800px;
            font-size: 20px;
            color: yellow;
        }
    </style>
</head>
<body>
    
    <h1>Welcome to Food Recipies Taste And Express</h1>
    <div>
        <h4 style="color:#ADFF2F">
            Whenever the term food comes we first remember only one name i.e mother
            because the food prepared by mother makes the items more delicious because it
            gives not only the flavour,taste and smell but also the love....
        </h4>
        <span style="color:red;font-family:Algerian">What we offer:</span>
        <ul>
            <li><ins>Yummy Recipes:</ins><span style="color:cyan">We have a huge collection of recipes for all types of dishes.Whether you're a pro chef or a beginner,our recipes are simple to make and taste great.</span>
            <li><ins>Tips from Experts:</ins><span style="color:cyan">Learn cooking tricks from our pros.They'll teach you cool <br />stuff about making food taste even better.</span></li></li>
            <li><ins>Cooking Help:</ins><span style="color:cyan">We explain everything step by step,so you won't get confused.<br />We want to make cooking easy and fun, not hard!</span></li>
        </ul>

        <span style="color:red;font-family:Algerian">Why Choose Us:</span><br />
        <p style="color:cyan">
            <ul>
                <li>
                    <span style="color:cyan">
                        At Taste And Express, we're here to help you enjoy cooking. Whether you need quick<br /> dinner ideas, sweet treats, or impressive dishes for guests, we've got your back. We're  <br />not just about recipes;
                        we're your kitchen buddy on a quest to make yummy meals.
                    </span>
                </li>
                <li>
                    <span style="color:cyan">
                        Let's start cooking together and make your kitchen the heart of your home. Get ready to<br /> turn everyday ingredients into delicious dishes.
                        Welcome to Taste And Express, where <br /> every recipe is a chance to create something tasty! - Let's Start Cooking!
                    </span>
                </li>
            </ul>
        </p>
        <h3>
            <mark>We Discover mouthwatering dishes from around the world please enter into <br />the world of cooking by logging IN! </mark>&nbsp;&nbsp;&nbsp;&nbsp;
        </h3>
        New User:&nbsp;&nbsp;<button><a href="~/signup.cshtml" style="color:black;text-decoration:none">signup</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Existing User:&nbsp;&nbsp;<button><a href="~/signin.cshtml" style="color:black;text-decoration:none">signin</a></button>
        <h3 style="color:chartreuse; font-family:'Times New Roman'">This page is reserved as &copy; taste and express by web wonders</h3>    
    </div>
</body>
</html>